css

* {
    box-sizing: border-box;
  }

body {
background-color: #1E90FF80;
}

.up {
    background-color: #FEFEFE;
    position: absolute;
    width: 1196px;
    height: 83px;
    left: 122px;
    top: 41px;
    border-radius: 12px;
    
}

.LOGO {
    position: absolute;
    width: 93px;
    height: 42px;
    left: 64px;
    top: 25px;
    
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 36px;
    line-height: 42px;
    
    color: #0A2541;

}

.Home {
    position: absolute;
    width: 43px;
    height: 19px;
    left: 446px;
    top: 35px;
    
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 19px;
    color: #000000;
}

.Illustrations {
    position: absolute;
    width: 85px;
    height: 19px;
    left: 549px;
    top: 35px;
    
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
    color: #000000;
}

.Contact {
    position: absolute;
width: 57px;
height: 19px;
left: 694px;
top: 35px;

font-family: 'Roboto';
font-style: normal;
font-weight: 500;
font-size: 16px;
line-height: 19px;
color: #000000;
}

.SignUp {
    position: absolute;
    width: 55px;
    height: 19px;
    left: 36px;
    top: 11px;
    
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 35px;
    color: #4443D0;
    text-align: center; 

    box-sizing: border-box;
    position: absolute;
    width: 127px;
    height: 41px;
    left: 866px;
    top: 24px;
    

    background: #FFFFFF;
    border: 1px solid #7372FF;
    border-radius: 5px;
}

.SignIn {
    position: absolute;
    width: 50px;
    height: 19px;
    left: 36px;
    top: 11px;
    
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 35px; 
    color: #FFFFFF;
    text-align: center; 

    position: absolute;
    width: 127px;
    height: 41px;
    left: 1021px;
    top: 24px;

    background: #4443D0;
    border-radius: 5px;
}

.Make {
    position: absolute;
    width: 603px;
    height: 150px;
    left: 122px;
    top: 363px;
    
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 64px;
    line-height: 75px;
    color: #0A2541; 
}

span {
   color: #5352ED
}


.We {
    position: absolute;
    width: 500px;
    height: 26px;
    left: 122px;
    top: 570px;
    
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 28px;
    
    color: #000000;
}

.Join {
    position: absolute;
    width: 200px;
    height: 19px;
    left: 130px;
    top: 675px;
    
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    color: rgba(0, 0, 0, 0.5); 
}

.Email {
  
    box-sizing: border-box;
    position: absolute;
    width: 475px;
    height: 50px;
    left: 122px;
    top: 713px;
    
    background: #FFFFFF;
    border: 1px solid #2A92F9;
    border-radius: 10px;

}

.Email p {
    position: absolute;
    width: 50px;
    height: 19px;
    left: 22px;
    top: 1px;
    
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    color: #9F9F9F;
}

.SignUp2 {
    position: absolute;
    width: 55px;
    height: 19px;
    left: 36px;
    top: 11px;
    
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 10px;
    color: #FFFFFF;
    text-align: center; 
    

    position: absolute;
    width: 127px;
    height: 41px;
    left: 122px;
    top: 791px;

    background: #4140CD;
    border-radius: 5px;
}

img {

position: absolute;
left: 22.61%;
right: 9.02%;
top: 0%;
bottom: -6.25%;

background: url(Saly-3.png);
transform: rotate(-1.51deg);


}