body {
	display: flex;
	flex-direction: column;
	background-color: #1e90ff80;
	padding: 20px 60px;
}

main {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}

.content {
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	justify-content: center;
}

.up {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;

	padding: 20px;

	background-color: #fefefe;
	border-radius: 12px;
}

.LOGO {
	font-family: "Roboto";
	font-style: normal;
	font-weight: 700;
	font-size: 36px;
	line-height: 42px;

	color: #0a2541;
}

.Home {
	font-family: "Roboto";
	font-style: normal;
	font-weight: 700;
	font-size: 16px;
	line-height: 19px;
	color: #000000;
}

.Illustrations {
	font-family: "Roboto";
	font-style: normal;
	font-weight: 500;
	font-size: 16px;
	line-height: 19px;
	color: #000000;
}

.Contact {
	font-family: "Roboto";
	font-style: normal;
	font-weight: 500;
	font-size: 16px;
	line-height: 19px;
	color: #000000;
}

.SignUp {
	font-family: "Roboto";
	font-style: normal;
	font-weight: 700;
	font-size: 16px;
	line-height: 20px;
	color: #4443d0;
	text-align: center;
	padding: 10px 40px;
	background: #ffffff;
	border: 1px solid #7372ff;
	border-radius: 5px;
}

.SignIn {
	font-family: "Roboto";
	font-style: normal;
	font-weight: 700;
	font-size: 16px;
	line-height: 20px;
	color: #ffffff;
	text-align: center;

	padding: 10px 40px;
	background: #4443d0;
	border-radius: 5px;
}

.Make {
	font-family: "Roboto";
	font-style: normal;
	font-weight: 700;
	font-size: 64px;
	line-height: 75px;
	color: #0a2541;
}

span {
	color: #5352ed;
}

.We p {
	font-family: "Roboto";
	font-style: normal;
	font-weight: 400;
	font-size: 24px;
	line-height: 35px;

	margin: 0 0 50px;
	color: #000000;
}

.Join {
	font-family: "Roboto";
	font-style: normal;
	font-weight: 400;
	font-size: 16px;
	line-height: 19px;
	color: rgba(0, 0, 0, 0.5);
	margin: 0;
}

.Email {
	width: 350px;
	background: #ffffff;
	border: 1px solid #2a92f9;
	border-radius: 5px;
	padding: 10px 20px;
	margin: 0;
}

.Email p {
	font-family: "Roboto";
	font-style: normal;
	font-weight: 400;
	font-size: 16px;
	line-height: 19px;
	color: #9f9f9f;
	margin: 0;
}

.SignUp2 {
	font-family: "Roboto";
	font-style: normal;
	font-weight: 700;
	font-size: 16px;
	line-height: 20px;
	color: #ffffff;
	text-align: center;

	padding: 10px 40px;
	background: #4140cd;
	border-radius: 5px;
	margin: 10px 0;
}

.SignUp2 p {
	margin: 0;
}

.image {
	align-self: flex-end;
}

img {
	margin: 0;
	transform: rotate(-1.51deg);
}

@media (min-width: 1024px) {
	main {
		display: flex;
		flex-direction: row;
		align-items: center;
		justify-content: space-between;
		margin-top: 100px;
	}

	.content {
		margin-top: 60px;
	}

	.image {
		align-self: flex-start;
	}

	img {
		width: 630px;
		margin: 0;
		transform: rotate(-1.51deg);
	}
}
